*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-background: #061415;
}

body {
  display: flex;
  place-items: center;
  height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  /* height: 100%; */
  display: grid;
}
